@import "./bootstrap.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $custom-gradient-background;
	min-height: 100vh;
	font-family: $font-family;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: $header-font;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

// ROOT;
#appContainer {
	padding: 1rem;
	text-align: center;
}

/////// FRONT PAGE ///////

// FRONT PAGE - Headers;

.teaser {
	font-family: $header-font;
	color: $custom-dark;
	padding: .5rem 0;
}

// FRONT PAGE - Inputs;;
label {
	font-family: $header-font;
	color: $custom-dark;	
	margin-top: 1rem;
}
.gameDataInputField {
	background-color: $custom-primary;
	color: $custom-dark;
	border: 0;
	transform: rotate(2.5deg);
	display: block;
	font-size: 2rem;
	text-align: center;
	width: 100%;
	min-width: 4rem;
	margin: .5rem 0;
	transition: transform .1s ease-in;
	font-family: $header-font;
	color: $custom-light;
	&:hover {
		transform: scale(1.1) rotate(2.5deg);
	}
	&:focus-visible{
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
		outline: none;
		&:not(:last-of-type) {
			transform: scale(1.2) rotate(5deg);
		}
		&:last-of-type {
			transform: scale(1.2) rotate(-1deg);
		}
	}
}

// FRONT PAGE - buttons;
#startGame, #restoreGame {
	margin-top: 1rem;
	transition: transform .2s ease-in-out;
	animation: fadeIn .5s;
	&:not(:last-of-type) {
		margin-right: 1rem;
	}
}

#startGame:not(:disabled) {
	transform: scale(1.5);
	margin-right: 2rem;
}

/////// SCORE CARD ///////

// SCORE CARD - container for the dashboard and the score card itself;
#dataContainer {
	max-width: 600px;
	margin: auto;
	animation: fadeIn .5s;
}

// SCORE CARD - dashboard;
#totalScore {
	font-family: $header-font;
	font-size: 3rem;
	color: $custom-accent;
}

//SCORE CARD - hole containers;
.golfHole:not(:last-of-type) {
	margin-bottom: .75rem;
}

//SCORE CARD - hole counters;
.holeInput {
	background-color: transparent;
	border: 0;
	color: $custom-light;
	font-size: 2rem;
	text-align: center;
	width: 4rem;
	font-family: $header-font;
}

// SCORE CARD - decrease and increase buttons;
.buttonDecrease, .buttonIncrease {
	border-radius: 100%;
	height: 50px;
	width: 50px;
	opacity: .9;
	transition: all .25s ease-in-out;

	&:hover {
		transform: scale(1.2) skewY(5deg);
		opacity: 1;
	
	}

	&:first-child {
		margin-right: .5rem;
	}

	&:nth-of-type(2) {
		margin-left: .5rem;
	}
	&:disabled {
		transform: scale(.75);
	}
}


// UTILS;
.hideElement {
	display: none;
}

// ANIMATIONS;
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}